#image {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  justify-content: center;
}

.gallery {
  text-align: center;
  display: block;

}

.text {
  text-align: center;

}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background: url('5410512.jpg')no-repeat center center fixed;
  color: #3F826D;
  font-family: Segoe UI;
  font-size: 16px;
}

ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.5;
}